.navbar{
    width: 100%;
    background: rgb(228, 228, 228);
    padding: 15px 10px;
    box-sizing: border-box;
}
.navbar ul{
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
}
.title {
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;
}
.navbar a{
    text-decoration: none;
}